<div class="section metro_post-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<!-- Content  -->
				<div class="metro_post-single-wrapper metro_recipe-single-wrapper">

					<h2 class="entry-title">Planting Season Begins</h2>
					<div class="metro_rating-wrapper">
						<div class="metro_rating">
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star"></i>
						</div>
						<span>4 Stars</span>
					</div>

					<div class="metro_post-single-thumb">
						<img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipe/1.jpg" alt="post">
						<div class="metro_post-date">
							<span>25</span>
							<span>Dec</span>
						</div>
					</div>

					<!-- Entry Content Start -->
					<div class="entry-content">
              <span class="metro_post-meta">
                <a href="#"> <i class="far fa-user"></i> Michel </a>
                <a href="blog-details.html"> <i class="far fa-knife-kitchen"></i> 5 Comments</a>
                <a href="blog-details.html"> <i class="far fa-clock"></i> 55 minutes</a>
              </span>

						<p>
							Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
							Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
							Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada.
							Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
							Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
							Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada.
						</p>

						<div class="row">
							<div class="col-lg-6">
								<div class="metro_nutritional-facts">
									<h4>Ingredients</h4>
									<ul>
										<li> 1 Cup Sifted all purpose Flour </li>
										<li> 4 Cups Dry-roasted macadamia nuts </li>
										<li> 4 Large eggs </li>
										<li> 5 Cup sifted all purpose flour </li>
										<li> 8 Cups dry-roasted macadami nuts </li>
										<li> 5 Mineral water </li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="metro_ingredients">
									<h4>Steps</h4>
									<ul>
										<li> Calories <span>329</span> </li>
										<li> Sugar <span>10.5g</span> </li>
										<li> Protein <span>22.5g</span> </li>
										<li> Fat <span>3g</span> </li>
										<li> Carbs <span>18g</span> </li>
										<li> Food Far <span>0.1</span> </li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<img class="w-100" src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipe/2.jpg" alt="Recipe">
							</div>
							<div class="col-sm-6">
								<img class="w-100" src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipe/3.jpg" alt="Recipe">
							</div>
						</div>

						<p>
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							Ut enim ad minima veniam, quis nostruercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequat
						</p>
					</div>
					<!-- Entry Content End -->

				</div>

				<!-- Related Posts -->
				<div class="metro_related-posts">

					<h4>Related Recipes</h4>

					<div class="metro_related-posts-slider">

						<!-- Recipe Start -->
						<article class="metro_post metro_recipe">
							<div class="metro_post-thumb">
								<a href="recipe-details.html">
									<img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipes/1.jpg" alt="recipe">
								</a>
							</div>
							<div class="metro_post-body">
								<div class="metro_post-desc">
									<span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> 45 Minutes </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> Expert</a> </span>
									<h5> <a href="recipe-details.html">Cheese Burger With a Touch of Curry and Cumin</a> </h5>
									<p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
								</div>
								<a class="btn-link" href="recipe-details.html"> Read More <i class="fas fa-arrow-right"></i> </a>
							</div>
						</article>
						<!-- Recipe End -->

						<!-- Recipe Start -->
						<article class="metro_post metro_recipe">
							<div class="metro_post-thumb">
								<a href="recipe-details.html">
									<img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipes/2.jpg" alt="recipe">
								</a>
							</div>
							<div class="metro_post-body">
								<div class="metro_post-desc">
									<span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> 45 Minutes </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> Expert</a> </span>
									<h5> <a href="recipe-details.html">Cheese Burger With a Touch of Curry and Cumin</a> </h5>
									<p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
								</div>
								<a class="btn-link" href="recipe-details.html"> Read More <i class="fas fa-arrow-right"></i> </a>
							</div>
						</article>
						<!-- Recipe End -->

						<!-- Recipe Start -->
						<article class="metro_post metro_recipe">
							<div class="metro_post-thumb">
								<a href="recipe-details.html">
									<img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipes/3.jpg" alt="recipe">
								</a>
							</div>
							<div class="metro_post-body">
								<div class="metro_post-desc">
									<span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> 45 Minutes </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> Expert</a> </span>
									<h5> <a href="recipe-details.html">Cheese Burger With a Touch of Curry and Cumin</a> </h5>
									<p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
								</div>
								<a class="btn-link" href="recipe-details.html"> Read More <i class="fas fa-arrow-right"></i> </a>
							</div>
						</article>
						<!-- Recipe End -->

						<!-- Recipe Start -->
						<article class="metro_post metro_recipe">
							<div class="metro_post-thumb">
								<a href="recipe-details.html">
									<img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/recipes/4.jpg" alt="recipe">
								</a>
							</div>
							<div class="metro_post-body">
								<div class="metro_post-desc">
									<span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> 45 Minutes </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> Expert</a> </span>
									<h5> <a href="recipe-details.html">Cheese Burger With a Touch of Curry and Cumin</a> </h5>
									<p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
								</div>
								<a class="btn-link" href="recipe-details.html"> Read More <i class="fas fa-arrow-right"></i> </a>
							</div>
						</article>
						<!-- Recipe End -->

					</div>

				</div>



			</div>

			<!-- Sidebar Start -->
			<div class="col-lg-4">
				<div class="sidebar">





					<!-- Recent Posts Start -->
					<div class="sidebar-widget widget-recent-posts">
						<h5 class="widget-title">Recent Posts</h5>
						<article class="post">
							<a href="blog-details.html"><img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/blog/sm/1.jpg" alt="post"></a>
							<div class="post-content">
								<a href="#"> Burgers </a>
								<h6> <a href="blog-details.html">Tomato Stuffing with Cumin and Radish</a> </h6>
							</div>
						</article>
						<article class="post">
							<a href="blog-details.html"><img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/blog/sm/2.jpg" alt="post"></a>
							<div class="post-content">
								<a href="#"> Pizza </a>
								<h6> <a href="blog-details.html">Over Baked Pizza With Four Cheese</a> </h6>
							</div>
						</article>
						<article class="post">
							<a href="blog-details.html"><img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/blog/sm/3.jpg" alt="post"></a>
							<div class="post-content">
								<a href="#"> Fast Food </a>
								<h6> <a href="blog-details.html">Grilled Burgers With Tomato Paste</a> </h6>
							</div>
						</article>
						<article class="post">
							<a href="blog-details.html"><img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/blog/sm/4.jpg" alt="post"></a>
							<div class="post-content">
								<a href="#"> Fast Food </a>
								<h6> <a href="blog-details.html">American Style French Fries Air Fried</a> </h6>
							</div>
						</article>
					</div>
					<!-- Recent Posts End -->

					<!-- Categories Start -->
					<div class="sidebar-widget">
						<h5 class="widget-title"> Post Categories </h5>
						<ul class="sidebar-widget-list">
							<li> <a href="#"> Vegan </a> </li>
							<li> <a href="#"> Breakfast </a> </li>
							<li> <a href="#"> Pizza </a> </li>
							<li> <a href="#"> Salads</a> </li>
							<li> <a href="#"> Drinks  </a> </li>
							<li> <a href="#"> Bread </a> </li>
							<li> <a href="#"> Lunch </a> </li>
							<li> <a href="#"> Dinner </a> </li>
						</ul>
					</div>
					<!-- Categories End -->

					<!-- Popular Tags Start -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Popular Tags</h5>
						<div class="tagcloud">
							<a href="#">Health</a>
							<a href="#">Food</a>
							<a href="#">Ingredients</a>
							<a href="#">Organic</a>
							<a href="#">Farms</a>
							<a href="#">Green</a>
							<a href="#">Fiber</a>
							<a href="#">Supplements</a>
							<a href="#">Gain</a>
							<a href="#">Live Stock</a>
							<a href="#">Harvest</a>
						</div>
					</div>
					<!-- Popular Tags End -->

				</div>
			</div>
			<!-- Sidebar End -->

		</div>

	</div>
</div>
