<!--
See: https://metropolitanhost.com/themes/themeforest/html/trickly/recipe-grid.html
-->

<div class="section">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-9 col-md-12">
			    <article class="metro_post metro_recipe">
				    <div class="metro_post-thumb">
					    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit
					    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit
					    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit
					    </p>

					    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit</p>
				    </div>
			    </article>
		    </div>
		    <div class="col-lg-3 col-md-12">
			    <img src="/images/lck-logo.png" alt="author">
		    </div>
        </div>
    </div>
</div>
