<!--
See: https://metropolitanhost.com/themes/themeforest/html/trickly/recipe-grid.html
-->

<div class="section">
    <div class="container">
	    <div class="row">
			{{#each recipes}}
				<div class="col-lg-6 col-md-12">
					<article class="metro_post metro_recipe">
						<div class="metro_post-thumb">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/cKQ7pxetOIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</article>
				</div>
			{{/each}}
        </div>
    </div>
</div>
