.hero {
    min-height: 400px;
    position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 60px;
}

.my-bg-dark{
    background-color: #222222;
}

.steps-list{
    list-style: decimal !important;
}

.ingredients-list{
    list-style: disc !important;
}

.share-icon {
    width: 32px;
}
